@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2 class="text-center">
    Sorry, an error occurred while processing your request.<br />
    Click @Html.ActionLink("here", "Index", "Home") to return to the Home Page and search again.
</h2>
