html {
    color: #DDD;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding: 2%;
    width: 95%;
    top: 0;
    bottom: 0;
    background-color: #262626;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}

/*.logo {
    background: url(../Content/Images/logo.png) no-repeat top left;
    display: block;
    width: 700px;
    height: 200px;
    text-indent: -9999px; hides the link text
}*/

body:not(.full-body) {
    background-image: url('http://i.imgur.com/12mMcvF.png?1');
    background-repeat: repeat;
}

#main {
    margin-top: 10%;
}

.Search .btn {
    height: 82px;
    font-size: 36pt;
}

.Search input {
    height: 82px;
    font-size: 36pt;
    max-width: 100% !important;
}

/*For mobiles*/
@media screen and (max-width: 500px) {
    #main {
        margin-top: 20%;
    }

    .Search .btn {
        height: 68px;
        font-size: 20pt;
    }

    .Search input {
        height: 42px;
        font-size: 22pt;
        max-width: 100%;
        line-height: 42px;
    }

    .Search .btn {
        height: 42px;
        font-size: 22pt;
        line-height: 22px;
        border-radius:2px;
    }
}

.website-heading {
    font-size: 700%;
}


.Search {
    padding: 10% 0;
    margin: 0% 0;
}

.highcharts-legend-item g:nth-child(1) {
    display: none;
}

#searchResults td:nth-child(2) {
    width: 30%;
}

#cheapestItemTable td:nth-child(5) {
    width: 8%;
}

#cheapestItemTable {
    font-size: 150%;
}

    #cheapestItemTable td:nth-child(5) {
        color: #187e3d;
    }

#avgPrice {
    font-weight: bold;
}

#noResultMsg {
    font-size: 150%;
    margin-bottom: 10px;
    color: #e8798d;
}

validation-summary-errors, .validation-summary-errors li {
    color: #e8798d;
}

.aboutContent {
    margin-bottom: 5%;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    background-color: #262626;
}

.field-validation-error {
    color: #DF4561;
}

.register-group,
#registerBtn {
    margin-top: 10px;
}

#picOfMe {
    float: right;
    border-radius: 60px;
}

.highcharts-legend-item text,
.highcharts-legend-item path {
    fill: #DF4561 !important;
}
