<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
        connectionString="Server=tcp:briandb.database.windows.net,1433;Database=Project;User ID=walshygel@briandb;Password=fakepassword;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    <!--connectionString="Data Source=BRIAN-PC;Initial Catalog=Project;Integrated Security=True"-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/Views/Shared/Error.cshtml">
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FindingServiceSOAPBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FindingServiceSOAPBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://svcs.ebay.com/services/search/FindingService/v1"
        binding="basicHttpBinding" bindingConfiguration="FindingServiceSOAPBinding"
        contract="Finding.FindingServicePortType" name="FindingServiceSOAPPort" />
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
      <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
      <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
      <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
      <endpoint address="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortES" />
      <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
      <endpoint address="https://webservices.amazon.in/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortIN" />
      <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
      <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
      <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding9"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding10"
        contract="AmazonItemSearch.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />
    </client>
  </system.serviceModel>
</configuration>