@{
    ViewBag.Title = "About Us";
}
<h2 class="text-center">About</h2>
<div id="" class="aboutContent col-md-5">
    <h2 class="text-center">About the site</h2>
    <p>
        <span>></span>
        My website aims to give the user the best price based on the product they have searched for.<br />
        I will be using eBay’s API to return products listed on eBay’s website and display them based on their prices.
    </p>
    <p>
        <span>></span>
        The website will be of simplistic design, inspired by Google Search’s home page.<br />
        This allows novice and experienced users to interact with the site with ease.
    </p>
    <p>
        <span>></span>
        The website features secure registration and log-in functionality with secure password management.
    </p>

</div>
<div class="col-md-2"></div>

<div id="aboutMe" class="aboutContent col-md-5">
    <h2 class="text-center">About me</h2>
    <img src="/Content/me.png" alt="myself" height="150" width="150" id="picOfMe"/>
    <p>
        <span>></span>
        This website was developed for a final year project by Brian Walsh. <br /> 4th year Web Development student at Cork Institute of Technology.
    </p>
    <p>
        <span>></span>
        I can be emailed at my <a href="mailto:brain.walsh3@mycit.ie">email address</a>.<br />
        Or you can follow me on twitter <a href="https://twitter.com/walshygel">@@walshygel</a>.
    </p>
    <p>
        <span>></span>
        This website will be continually developed with new features being added.
    </p>

</div>
